keys:
  twitter:
    enabled: true
    consumer_key:
    consumer_secret:
    access_token:
    access_secret:
  telegram:
    enabled: true
    bot_token:
    chat_id:

feeds:
  - root: https://www.straitstimes.com/news/{feed}/rss.xml
    source: ST
    word_filter: covid
    categories:
      - singapore
      - world
      - asia
      - tech
      - opinion
  - root: https://www.scmp.com/rss/{feed}/feed
    source: SCMP
    categories:
      - id: 36
        name: tech
  - root:
    source:  # optional
    categories:
      -
      -
      -
      -
      -
